.Messenger {
    display: flex;
    margin-top: 30px;
    align-items: center;

    &__left {
        &__item {
            position: relative;
            img {
                width: 50px;
                border-radius: 50%;
            }

            .online {
                height: 15px;
                width: 15px;
                background: green;
                border: 2px solid white;
                border-radius: 50%;
                position: absolute;
                bottom: 0px;
                right: 2px;
            }
        }
    }

    &__main {
        margin-left: 20px;

        &__name {
            font-size: 14px;
            font-weight: 550;
        }

        &__lastMsg {
            font-size: 13px;
            color: gray;
            font-weight: 400;
        }

        &__lastSeen {
            font-size: 13px;
            color: gray;
            font-weight: 400;
            margin-left: 10px;
        }
    }

    &__right {
        margin-left: auto;

        &__seen {
            height: 12px;
            width: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: #ccc;

            svg {
                font-size: 3px;
                color: white;
            }
        }


    }
}